.categories-icons {
  padding: 40px 0;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    justify-content: space-around;
    width: 1160px;

    .category-item {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      transition: all 0.3s ease;

      .icon-box {
        width: 128px;
        height: 128px;
        background: #F4F4F4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

        img {
          width: 60px;
          height: auto;
        }
      }

      span {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #4E4E4E;
      }

      &.active {
        span {
          color: #3019B2;
          font-weight: 700;
        }

        .icon-box {
          background: #FFFFFF;
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        }
      }

      &:hover .icon-box {
        transform: translateY(-5px);
      }
    }
  }
}