.partner-banner-container {
  display: flex;
  gap: 13px;
  margin: 90px auto;
  justify-content: center;

  img {
    max-width: 634px;
  }
}

@media (max-width: 768px) {
  .partner-banner-container {
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
    gap: 20px; 

    img {
      max-width: 100%;
      width: 100%;
    }
  }
}