.main-banner-container {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .main-banner-container {
    min-height: 120px; 
    
    img {
      height: 150px;
      object-position: center; 
    }
  }
}